@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #1c8ef9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}



body,
html,
.App,
#root,
.wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #ffffff; /* sets the background color of the navbar */
  padding: 20px; /* adds padding to the navbar */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* adds a box shadow effect to the navbar */
  position: fixed; /* fixes the navbar at the top of the viewport */
  top: 0; /* sets the top position of the navbar to 0 */
  width: 100%; /* sets the width of the navbar to 100% */
  z-index: 1; /* sets the z-index of the navbar to 1 */
}

.navbar-expand-lg {
  display: flex; /* sets the navbar to display as a flexbox */
}

.navbar-light {
  color: #ffffff; /* sets the color of the navbar text to white */
}

.navbar-nav {
  margin-left: auto; /* aligns the navbar items to the right */
}

.nav-item {
  margin-right: 30px; /* adds spacing between the navbar items */
}

.nav-link {
  color: #000000; /* sets the color of the navbar links to black */
  text-decoration: none; /* removes underline from navbar links */
}

.nav-link:hover {
  color: #007bff; /* sets the color of the navbar links on hover to blue */
}

.navbar-brand{
  background-color: rgb(255, 255, 255);
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 500px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 50px 25px 45px 25px;
  border-radius: 15px;
  transition: all 0.3s;
  
  /* Add these properties to center the form */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

